/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
#menu-top-bar-menu .address::before,
#menu-top-bar-menu .address p,
#menu-top-bar-menu a.phone.retailer,
#menu-top-bar-menu .menu-item-text {
    font-size: 13px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF !important;
}
#menu-item-349862 a span{
    font-size: 14px !important;
    font-weight: 700 !important;
}
#menu-item-364760 a span,
#menu-item-364790 a span{
    padding: 0px !important;
}
#menu-top-bar-menu a.phone.retailer,
#menu-top-bar-menu .menu-item-text {
    padding: 2px 40px;
	display:block;
}

.fl-node-5cc886ff174c8  .fl-module-content{
    margin: 0px auto;
}
.fl-page-bar .phone  span:before{
	content: "\f1f8";
	font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
	    font-size: 16px;
	margin-right: 5px;
	    vertical-align: sub;
}

#menu-top-bar-menu a.phone.retailer span{
    margin-left: 5px;
}
#menu-top-bar-menu a.phone.retailer:before {
    font-family: FontAwesome;
    content: "\f095";
}
#menu-top-bar-menu .address::before {
    content: "Visit";
    margin-right: 3px;
}
#menu-top-bar-menu .address p {
    display: inline;
    margin-right: 5px;
}

.button-wrapper-default a,
.button-wrapper-default a.button,
.product-grid .fl-button{
    background-color: #475668 !important;
    border: 1px solid #475668 !important;
    color: #FFFFFF !important;
}

.product-swatch-inner .button-wrapper-default a{
    background: transparent!important;
    color: #475668!important;
}

.product-swatch-inner .button-wrapper-default a:hover{
    background: #475668!important;
    color: #fff!important;
}

.product-swatch-inner .button-wrapper-default a:first-child{
    background: #475668!important;
    color: #fff!important;

}

.responsive-button-wrapper-default a{
    background: transparent!important;
    border: 1px solid #475668 !important;
    color: #475668!important;
}

.responsive-button-wrapper-default a:hover{
    background: #475668!important;
    color: #fff!important;
}

.responsive-button-wrapper-default a:first-child{
    background: #475668!important;
    color: #fff!important;
}

.button-wrapper-default a:hover,
.button-wrapper-default a.button:hover,
.product-grid .fl-button:hover{
    background-color: transparent !important;
}

.button-wrapper-default a:hover,
.button-wrapper-default a.button:hover,
.product-grid .fl-button:hover span{
    color: #475668 !important;
}

.fl-node-5cc89fa2c13d4 .uabb-creative-button-wrap a{
    background: #475668!important;
}

.active-gallery-modal .product-box a.fl-button{
    background: #475668;
    color: #fff;
    border: 1px solid #475668;
}

ul.social-icons li a:hover i{
    color: #475668;
}

.fl-node-5cc892120ae65 .uabb-creative-button-wrap a, .fl-node-5cc892120ae65 .uabb-creative-button-wrap a:visited{
    background: #475668!important;
    border-color: #475668!important;
}

#responsive-menu-container{
    left: -1px !important;
}

.fl-node-5cd15e3745ac4 .fl-content-slider .fl-slide {
    /* display: flex;
    align-items: center; */
}

.fl-page-bar-text a, .fl-page-bar-text a span{
    color: #fff;
}
.fl-page-bar-text a:hover, .fl-page-bar-text a span:hover{
    color: #C09B65;
}

.fl-page-header-primary .fl-page-nav-wrap .fl-logo-img{
    height: 80px !important;
}

/* .fl-page-nav-centered-inline-logo {
    position: absolute;
    top: 42px;
    left: 0;
    right: 0;
    z-index: 7;
    box-shadow: none;
}
.fl-page-bar{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    border: 0;
} */


/* input AM & PM */
.gform_wrapper .gfield .ginput_container_select,
.gform_wrapper .gfield .gfield_time_ampm {
    width: 100% !important;
    max-width: 100% !important;
    position: relative;
    display: flex !important;
    align-items: baseline;
}

.gform_wrapper .gfield .ginput_container_select>select,
.gform_wrapper .gfield .gfield_time_ampm.ginput_container>select {
    width: 100% !important;
    max-width: 100% !important;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .5em;
    border: 1px solid #ccc !important;
    border-radius: 3px;
    font-size: 1em;
}

.gform_wrapper .gfield .ginput_container_select:after,
.gform_wrapper .gfield .gfield_time_ampm:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    right: 20px;
    border-top: 8px solid black;
    opacity: 0.5;

    content: "";
    width: 0;
    height: 0;
    position: relative;
    pointer-events: none;

}
.gform_wrapper .gfield_time_hour i{
    margin-top: -3px !important;
}


@media(max-width:1024px){
.fl-page-header-wrap .fl-page-header-container.container {
    padding-right: 0;
    padding-left: 0;
}
}

@media(max-width:991px){
    .mid-hidden{
        display: none;
    }
    a.fl-button, .fl-builder-content a.fl-button{
        background: #475668!important;
    }
    .facetwp-per-page-select{
        color: #475668;
    }
    .top-bar-wrap{
        display: none!important;
    }
    .header-number-coupon-wrap .fl-module-html .fl-html a{
        font-weight: bold;
        font-size: 14px;
    }


    .btn-direction{
        text-align: center;
    }

   .uabb-gf-style .gform_wrapper .gform_footer input[type=submit]{
        width: auto!important;
    }
    .fl-page-header-container .fl-page-nav-col{
        display: none;
    }
    .footerCopyright .fl-node-5c6fdfb622749 .fl-node-content {
        margin: 0;
    }
    .footerCopyright #menu-copyright-bar-menu{
        display: flex;
        justify-content: flex-end;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0;
    }
    .container.fl-content-full {
        width: auto;
        max-width: none;
    }
    
    .responsive-menu-open{
        overflow: hidden;
    }
    .responsive-menu-open body .fl-page:before {
        content: '';
        height: 100vh;
        width: 100vw;
        background: #00000061;
        z-index: 9;
        display: inline-block;
        position: fixed;
    }
    
    .fl-page-bar .fl-page-bar-row.row {
        display: flex;
        justify-content: space-between;
    }
    .fl-page-header-primary .fl-logo-img{
        height: 70px !important;
        width: auto !important;

    }
}

@media(max-width:500px){
    footer .fl-builder-content .fl-col-small{
        width: 100%!important;
    }
    .brand-responsive-view .fl-col-group-custom-width .fl-col-small{
        width: 100%!important;
    }

    .fl-builder-content .flooring-products-both-section{
        width: 100%!important;
    }
    .product-box .fl-button{
        margin: 0px auto;
    }
    .footerCopyright .fl-rich-text, .footerCopyright .fl-rich-text * {
        text-align: center !important;
    }
    .footerCopyright #menu-copyright-bar-menu {
        display: flex;
        justify-content: center;
        float: none;
    }
    button#responsive-menu-button{
        top: 80px;
    }
}

@media (max-width:374px) {
    .header-number-coupon-wrap .fl-col-group .fl-col{
        width: 100%!important;
    }
    .header-number-coupon-wrap .fl-col-group .fl-col, 
    .header-number-coupon-wrap .fl-col-group .fl-col .fl-module-icon{
        text-align: center!important;
    }

}